* text=auto eol=lf

*.c            text eol=lf
*.h            text eol=lf
CMakeLists.txt text eol=lf
*.cmake        text eol=lf
*.md           text eol=lf
.gitignore     text eol=lf

*.dat          binary
*.db           binary
*.png          binary
*.jpg          binary
*.jpeg         binary
*.ico          binary
*.pdf          binary
